.accessories {
  width: 100%;
  text-align: center;
  background-color: #F5F5DC
}

.accessory-heading h2 {
  font-size: 28px;
  margin-bottom: 20px;
  padding:25px;
}

.accessory {
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 30px;                 
  flex-wrap: wrap;           
}

.accessory a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.accessory img {
  width: 150px;              
  height: 150px;
  object-fit: cover;         
  border-radius: 100px;
  transition: 0.3s;
}

.accessory img:hover {
  transform: scale(1.05);    
}

@media (max-width: 480px) {
  .accessory {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    padding: 10px;
  }

  .accessory img {
    width: 120px;   /* smaller for mobile */
    height: 120px;
  }

  .accessory-heading h2 {
    font-size: 22px;
    padding: 15px;
  }
}


