.footer {
  width: 100%;
  background-color: #cecece;
  font-family: "Poppins", sans-serif;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}

.footer-section div h3 {
  margin-bottom: 12px;
  font-size: 18px;
  color: #333;
}

.footer-section div p {
  margin: 6px 0;
  color: #3f3f3f;
  cursor: pointer;
  font-size: 15px;
}

.footer-section div p:hover {
  color: black;
}

.follow {
  margin-top: 40px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 5px;
}

.keys i {
  font-size: 22px;
  margin: 0 12px;
  cursor: pointer;
}

.keys i:hover {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 10px;
  }

  .footer-section {
    flex-direction: column;       
    align-items: center;          
    text-align: center;           
    gap: 25px;                    
  }

  .footer-section div {
    width: 100%;                  
  }

  .footer-section div h3 {
    font-size: 16px;
  }

  .footer-section div p {
    font-size: 14px;
  }

  .follow {
    margin-top: 25px;
    gap: 10px;
  }

  .keys i {
    font-size: 20px;
    margin: 0 10px;
  }
}

