.home-image {
  width: 100%;
  height: 110vh;

  background-image: url("/photos/bg4.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       
  text-align: center;
    /* padding: 20px; */
  gap: 10px;                 
  backdrop-filter: brightness(0.95);
}

.home-image h1 {
  font-size: 40px;
  font-weight: 800;
  color: #0c0c0c;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  margin-left:40%;
  margin-bottom: 35px;
}

.home-image p {
  font-size: 22px;
  font-weight: 500;
  color: #0c0c0c;
  margin: 2px 0;
  margin-left: 40%;
  margin-top: 25px;
  text-shadow: 1px 1px 6px rgba(32, 26, 26, 0.4);
}

.home-image h2 {
  margin-top: 10%;
  /* margin-bottom: 10; */
  margin-left: 10%;
  font-size: 28px;
  font-weight: 800;
  color:#0c0c0c;
  text-shadow: 2px 2px 7px rgba(0,0,0,0.55);
}

@media (max-width: 480px) {
  .home-image {
    width:100%;
    height: 40vh;
    /* padding: 20px; */
    text-align: center;
    gap: 5px;
  }

  .home-image h1 {
    font-size: 14px;
    margin-left: 33%;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  }

  .home-image p {
    font-size: 8px;
    margin-left: 35%;
    /* margin-top: 5%; */
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }

  .home-image h2 {
    /* margin-top: 50px; */
    /* margin-left: 0; */
    font-size: 14px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  }
}







