.paydetails {
  max-width: 450px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.paydetails h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #222;
}

.paydetails h3 {
  margin-top: 20px;
  color: #444;
}

.paydetails p {
  margin: 3px 0;
  color: #555;
}

h2 {
  margin-top: 25px;
  color: #333;
  font-size: 22px;
}

.payment-option {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
  background: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #ddd;
}

.payment-option:hover {
  background: #e9e9e9;
}

.payment-option input {
  transform: scale(1.3);
  cursor: pointer;
}

.paydetails button {
  width: 100%;
  padding: 12px;
  margin-top: 25px;
  background-color: black;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.paydetails button:hover {
  background: #333;
}

@media (max-width: 480px) {
  .paydetails {
    width: 90%;
    padding: 20px;
  }

  .payment-option {
    font-size: 14px;
  }

  .paydetails button {
    font-size: 16px;
  }
}
