.signup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  font-family: Arial;
}


.profile-detail, .wel {
  background: #fff;
  width: 350px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}


.profile-detail h1,
.wel h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  
}
.wel {
  position: relative;        
  width: 360px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.close-login {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.profile-detail input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}


.profile-detail button,
.wel button {
  top:12px;
  right:12px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #007bff; 
  color: white;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.profile-detail button:hover,
.wel button:hover {
  background: #004a99; 
}


.login-link {
  color: #007bff; ;
  cursor: pointer;
  /* font-weight: bold; */
  margin-left: 5px;
}


.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
.success {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.close-profile {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
  color:black;
  font-weight: bold;
}

.close-profile:hover {
  color: #ff3b3b;
}

@media (max-width: 480px) {

  .signup {
    width: 100%;
  }

  .profile-detail,
  .wel {
    width: 90%;                 
    padding: 20px;              
    border-radius: 10px;
  }

  .profile-detail h1,
  .wel h1 {
    font-size: 20px;            
    margin-bottom: 15px;
  }

  .close-login,
  .close-profile {
    font-size: 20px;
    top: 10px;
    right: 12px;
  }

  .profile-detail input {
    padding: 8px;
    font-size: 14px;
  }

  .profile-detail button,
  .wel button {
    padding: 10px;
    font-size: 15px;
  }

  .error,
  .success {
    font-size: 13px;
  }
}


