.section {
  text-align: center;
  padding: 10px 0;
  background-color: #F5F5DC;
}

.heading h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
  /* padding:25px; */
}

.newarrivals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; 
  flex-wrap: wrap; 
}

.newarrivals a {
  text-decoration: none;
  color: #000;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.newarrivals img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.newarrivals a:hover img {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.newarrivals h4 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

@media (max-width: 480px) {

  .section {
    padding: 20px 10px;
  }

  .heading h2 {
    font-size: 25px;
    margin-top: 1%;
  }

  .newarrivals {
    gap: 20px;  
  }

  .newarrivals img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }

  .newarrivals h4 {
    font-size: 18px;
    margin-top: 15px;
  }
}
