.slide {
  width: 100%;
  background: #ffeb99; 
  overflow: hidden;
  white-space: nowrap;
  /* padding: 10px 0; */
  border-radius: 5px;
  position: relative;
}

.slide h3 {
  display: inline-block;
  margin-right: 20%;
  font-size: 15px;
  color: #b30000;  /* festive red */
  font-weight: 500;
  animation: scrollText 20s linear infinite;
}

/* Animation */
@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
