#root{
    max-width: 100%;
    margin:0;
}
.container{
    width: 100%;
    margin:0;
    padding: 0%;
}
@media (max-width: 480px) {
    #root {
        max-width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden; 
    }

    .container {
        width: 100%;
        /* padding: 0 10px;  */
        margin: 0;
    }
}
